.home-section{
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/images/moon.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    align-items: flex-start; /* Alignement à gauche */
    justify-content: center; /* Centrage vertical */
    
    
}


.home-section h1{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.home-section .item-section {
    color: #ffffff;
    font-weight: 00;
    max-width: 800px; 
    
}

.box-section{
    display: flex;
    gap: 0.8rem;
    margin: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.box-section img{
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
    background-color:#ffffff;
    border-radius: 50%;

}
.box-section p{
    width: 75% ;
}

.box-section .paraph-section{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
}

.join-us{
  border: solid 2px white;
  padding: 15px 10px;
  margin-top: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-section{
  margin-top: 75px;
}

@media screen and (max-width: 768px) {
  .home-section{
    height: 100%;
  }
  .home-section h1{
    font-size: 1.5rem;
  }
  .box-section{
    flex-direction: column;
    gap: 1rem;
    margin: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
  
}
