.home-section{
    display: flex;
    flex-direction: column;
    background-image: url("https://cdn.discordapp.com/attachments/1085935594250702978/1090929221460832297/man-g4a95936ad_1920.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}


.home-section h1{
    font-size: 1.7rem;
    text-align: center;
    margin-top: 1.5rem;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;

}

.home-section .item-section {
    width: 45rem;
    color: #ffffff;
    font-weight: 00;


}
.box-section{
    display: flex;
    gap: 0.8rem;
    margin: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-section img{
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
    background-color:#ffffff;
    border-radius: 50%;

}
.box-section p{
    max-width: 80% ;

}

.box-section .paraph-section{
  font-size: 1.5rem;
  font-weight: 500;
}

.join-us{
  border: solid 2px white;
  padding: 10px 10px;
  margin-top: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
