.container-resetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container-resetPassword .form-resetPassword{
    background-color: #bc9b5a;  
   margin-block: 2rem; 
   padding: 2rem;
   border-radius: 0.8rem;

}

.container-resetPassword .form-resetPassword .btn-resetPassword{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-resetPassword .form-resetPassword .btn-resetPassword button{
    font-weight: bold;
    margin: 1rem;
    text-align: center;
    border-radius: 0.8rem;
    padding: 0.3rem 2rem;
    

}
.container-resetPassword .form-resetPassword input[type="email"]{
   padding: 0.3rem 1.5rem;
   border-radius: 0.6rem;
   outline: transparent;
}

.container-resetPassword .form-resetPassword .reset-text{
    margin: 0.5rem;

}
