.footer {
  background-color: #bc9b5a;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;

  &__text {
    margin: 0;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin: 1rem;
  }
}

.contacts{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding: 1rem;
  max-width: 80%;
  margin: 0 auto;

  &__title{
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem;
    padding: 0 1rem;
  }

  &__text{
    font-size: 1.2rem;
    margin: 1rem;
  }

  &__link{
    font-size: 1.2rem;
    margin: 1rem;
  }

  &__link:hover{
    color: #bc9b5a;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2rem;
  }

  &__input{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #bc9b5a;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  &__button{
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    font-size: 1.2rem;
    background-color: #bc9b5a;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }

  &__button:hover{
    background-color: #fff;
    color: #bc9b5a;
  }
}

// @media screen and (min-width: 768px) {
//   .contacts__title{
//     font-size: 0.8rem;
//   }
// }
