.profile{

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
  }

  &__user-image{
    width: 200px ;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 1rem auto;
    object-fit: cover;
  }

  &__presentation{
    font-size: 1.4rem;
    margin: 3rem;
    text-align: center;
    color:#000;
  }

  &__image{
    display: block;
    margin: 0 auto;
    width: 100vw;
    height: 30rem;
    padding: 1rem;
    object-fit: cover;
  }
}

.stats{

  border: solid 2px #72a119;
  border-radius : 2rem;
  margin: 3rem auto;
  max-width: 80%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 2rem;

  &__title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
  }

  &__infos{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 0.5rem;
    color:#000;
  }

  &__chart{
    margin: 0 auto;
    padding: 1rem;
    height: 80vh;
  }

}

.historic{
  
  border: solid 2px #72a119;
  border-radius : 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    color : #ffffff;
    margin: 3rem auto;
    max-width: 80%;
    padding: 2rem;
  
    &__title{
      font-size: 1.5rem;
      font-weight: bold;
      padding: 1rem;
      text-align: center;
    }

    &__activities__activity{
      position : relative;
      max-width: 50%;
      margin : 0 auto;
    }
  
    &__activities__activity__infos{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 1rem auto;
      padding: 0.5rem;
      max-width: 100%;
      // création d'une étiquette
      border: solid 1px #72a119;
      border-radius: 5px;
      background-color: #72a119;
    }  
}

.cross{
  position : absolute;
  top: 0;
  right: -3rem;
  color:#000;
}

.deleteUserButton{
  display: block;
   text-align: center;

  &__button{
  font-size: 1rem;
  font-weight: bold;
  color : white;
  background-color: red;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  border: solid 1px #ffff;
  }

  &__button:hover{
    background-color: rgb(218, 104, 104);
  }

  &__warning{
    font-size: 1rem;
    font-weight: bold;
    color : red;
    margin-bottom: 1rem;
  }

}

.settingsButton{
  text-align: center;
  padding-bottom : 1rem;

  &__button{
      font-size: 3rem;
      color: #72a119;
  }
}

.settingsModal{
  position : fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &__closeButton{
    top:150px;
    right:380px;
position:absolute;
  }
}

.signup-form{
  background-color: #ffff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

@media screen and (max-width: 768px) {

  .profile{
  

  &__title{
    font-size: 2rem;
  }

  &__presentation{
    font-size: 1rem;
  }

  &__image{
    height: 15rem;
  }}

  .stats__chart{
    width: 90vw;
    height: 40vh;
    // pour centrer le graphique
    margin: 0 auto;
    }
  }
