.container-users {
    padding: 0.5rem 3rem;
}
.contener-users {
    margin: 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    gap: 2rem;
}
.contener-users .link-card-user {
    text-decoration: none;
    color: black;
}
.link-card-user .card-user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22.5rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
}
.profil-user .image-user {
    width: 5rem;
    height: 5rem;
    padding: 0.2rem;
    border-radius: 50%;
    margin: 0 auto;
}
.profil-user p {
    margin-top: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}
.profil-user .image-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.tag-level-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.tag-level-user .level-user {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 0;
    font-weight: 500;
    padding: 0.2rem 1rem;
    border-radius: 9px;
}
.tag-level-user .tag-user {
    width: 5rem;
    height: 7rem;
}
.tag-level-user .tag-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.xp-views-user {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: 0.5rem;
}
.xp-views-user p {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
}
.xp-views-user .last-xp-views {
    border-left: 1px solid rgb(119, 119, 119);
    padding-left: 45px;

}
.backgroundColor-or {
   background-color: #FFD700;
}
.backgroundColor-argent {
   background-color: #c0c0c0;
}
.backgroundColor-bronze {
   background-color:  #CD7F32;
}

.border-or {
    border: 3px solid #FFD700;
 }
 .border-argent {
    border: 3px solid #c0c0c0;
 }
 .border-bronze {
    border: 3px solid #CD7F32;;
 }