.calendar{
  max-width: 80%;
  margin: 1rem auto;
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px #72a119;
  border-radius : 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  &__title {

    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  &__container {
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  &__day{
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #72a119;
    font-size: 3rem;
    font-weight: bold;
    margin: 3rem;
    padding: 1rem;
    border-radius: 10px;

  }

  &__day__name{
    color: #fff;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1rem;
  }

  }

  .generateButton{
    text-align: center;
    margin: 1rem;

    &__button{
      padding: 1rem;
      margin: 1rem 0;
      border-radius: 5px;
      font-size: 1.2rem;
      background-color: #72a119;
      border: solid 1px #72a119;
      color: #fff;
      cursor: pointer;
      transition: 0.3s ease-in-out;
    }
  
    &__button:hover{
      background-color: #fff;
      color: #72a119;
    }

    &__challengeGenerated{
      font-size: 2rem;
      font-weight: bold;
      margin : 2rem;
    }

    &__hidden{
      display: none;
    }
   
  }

  .record{
    max-width: 80%;
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
  border: solid 2px #72a119;
  border-radius : 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
    
  &__title{
    font-size: 1.5rem;
    font-weight: bold;
    padding:1rem;
  }

  &__form{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;

 &__container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    max-width: 100%;
    

    &__label{
      max-width: 100%;
      padding: 1rem;
      color: black;
      font-size: 1rem;
    }

 }

 &__button{
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #72a119;
  border: solid 1px #72a119;
  color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

&__button:hover{
  background-color: #fff;
  color: #72a119;
}
  }

  }
#category{
  width: 300px;
}
#activity{
  max-width: 300px;
}

.success__message{
  color: #72a119;
  animation: success__message 3s infinite;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem;
}

@keyframes success__message {
  0% { opacity:0; }
  50% { opacity:1; } 
  100% { opacity:0; }
}

@media screen and (max-width: 3000px) {
  .calendar{
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__day{
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 3rem;
      margin: 0.8rem;
    }

    &__day__name{
      margin-bottom: 2rem;
      text-align: center;
      font-size: 1rem;
    }
  }

  i{
    font-size: 1.5rem;
  }

  .generateButton{

    &__button{
 
      font-size: 1rem;
      
    }

  }

  .record{
    &__form{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      
      &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
        max-width: 100%;

        &__label{
          max-width: 100%;
          padding: 1rem;
          color: black;
          font-size: 1rem;
        }
      }
    }
  }

  #category{
    height: 2rem;
    max-width: 90%;
  }
  #activity{
    height: 2rem;
    max-width: 90%;
  }
  #duration{
    height: 2rem;
    max-width: 90%;
  }
}
  
