.signup-container{
  background-color: #fff;
  margin-bottom: 11rem;
}

.signup-container .signup-title{
  margin-top: 1rem;
  font-size: 1.8rem;
  text-align: center;
}

.signup-container .signup-title h1 {
  color: black;
  font-weight: bold;
}

.signup-container .signup-form{
  width: 60%;
  margin: 1.5rem auto;
  border: 1px solid #d1d1d1;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0.8rem;
  background-color: #fff;   
}

.signup-form-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem;
}

.signup-form-content .signup-form-column input[type="text"],
.signup-form-content .signup-form-column input[type="password"],
.signup-form-content .signup-form-column input[type="email"],
.signup-form-content .signup-form-column select {
  width: 98%;
  padding: 0.5em 0.8rem;
  font-size: 1.1rem;
  border-radius: 0.6rem;
  border: 1px solid #868686;
  outline: transparent;
}

.signup-form-group .label-password{
  width: 15rem;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  color: #555555;

}

.signup-form-column input[type="text"]:hover,
.signup-form-column input[type="password"]:hover,
.signup-form-column input[type="email"]:hover,
.signup-form-column select :hover{
  border-color: #bc9b5a;
  cursor: pointer;
}

.signup-form-column .signup-form-group{
  margin:1rem;
}

.signup-form-column .signup-form-group label{
  font-size: 1.1rem;
  font-weight: bold;
}

.signup-form-button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;

}

.signup-form-button button{
  padding: 0.8rem 5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.6rem;
  background-color:#bc9b5a;
}

button:hover{
  background-color: #c8a868;
}


.signup-form-group-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .preview-image{
  height: 19rem;
  width: 20rem;
  position: relative;
  border-radius: 0.8rem;
  border: 1px solid #949494;
}

.preview-image .closebtn{
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.8;
}

.preview-image .closebtn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 
.preview-image img{
  width: 100%;
   height: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.signup-form-group .profil-image{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  width: 20rem;
  background-color: #72a119;
  border-radius: 0.8rem;
  text-align: right;
}

.profil-image .choice-photo{
  height: 3rem;
  width: 3rem;
  object-fit: cover;
}
.profil-image .choice-photo-label{
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.signup-form-group #photo{
  display: none;
}

@media screen and (max-width: 760px) {
  .signup-container .signup-form{
    width: 97%;
   
  }
  
.signup-form-content{
  padding: 0.8rem;
  
 }
}
